/* home page */
.homepage-bestSellers {
  width: 243px;
  height: 299px;
  border-radius: 16px;
}
.homepage-decorationBackdrps {
  width: 243px;
  height: 299px;
  border-radius: 64px;
}

.wishlist {
  position: relative;
  width: 243px;
  height: 299px;
  border-radius: 16px;
}

/* cart page */

.cart {
  width: 115px;
  height: 115px;
  border-radius: 8px;
}
.cart-productAddOns {
  width: 156px;
  height: 149px;
  border-radius: 8px;
}

.plp {
  width: 243px;
  height: 299px;
  border-radius: 16px;
}

/* pdp page */
.pdp-mainImage {
  width: 504px;
  height: 382px;
  border-radius: 16px;
}
.pdp-extraImage {
  width: 124px;
  height: 93px;
  border-radius: 12px;
}
.pdp-selectedExtraImage {
  width: 124px;
  height: 93px;
  border: 3px solid #e95850;
  border-radius: 12px;
}
.pdp-similarProducts {
  width: 158px;
  height: 203px;
  border-radius: 8px;
}
.pdp-productAddOns {
  width: 156px;
  height: 149px;
  border-radius: 8px;
}
.pdp-colorOption {
  width: 56px;
  height: 56px;
  border-radius: 8px;
}
.pdp-selectedColorOption {
  width: 56px;
  height: 56px;
  border: 2px solid #e95850;
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}

/* checkout page */
.checkout {
  width: 115px;
  height: 115px;
  border-radius: 8px;
}
