.homepage-wishList {
  width: 550px;
  height: 1025px;
  background: #ffffff;
}
.homepage-myCart {
  width: 471px;
  height: 1025px;
  background: #ffffff;
}
.homepage-myOrders {
  width: 471px;
  height: 1025px;
  background: #ffffff;
}
.homepage-orderHistory {
  width: 471px;
  height: 1025px;
  background: #ffffff;
}
