/* .container {
  width: 364px;
  height: 56px;
  background-color: #e95850;
  border-radius: 100px;
} */
.button {
  width: 364px;
  height: 56px;
  background-color: #e95850;
  border-radius: 100px;
  border: none;
  font-size: 12px;
}
