.homepage-availableCities {
}
.homepage-themes {
  width: 214px;
  height: 196px;
  background: #ffffff;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
}
.homepage-searchBar {
  width: 328px;
  height: 256px;
  background: #ffffff;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.36);
  border-radius: 8px;
}
/* customer reviews in pdp page are also in dropdoen or say list pattern so that it means that we should also use a component called list */
